{
    "extends": "airbnb",
    "rules": {
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "no-tabs": 0,
      "react/forbid-prop-types": 0,
      "no-use-before-define": 0,
      "react/require-default-props": 0
    },
    "env": {
      "jest": true
    }
}
